.App {
  text-align: center;
}

body { 
  width: 98vw;
  height: 100vh; 
  background-image: url("./Images/Planisferio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} 