@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Staatliches&display=swap');

.landingContainer{
    z-index: 2;
    width: 100VW;
    height: 100vh;
    background-color: whitesmoke;
}

.landingTextContainer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: left;  
    font-family: 'Staatliches', cursive;
    text-decoration: none;
    top: 7.5em;
}

.landingFunky, .landingWorld, .landingPlace {
    box-shadow: 0px 15px 10px -20px #111
}

.landingFunky {
    background: linear-gradient(to right, yellow, white);
    width: 23em;
    font-size: 2.5em;
    margin-left: 3em;
    padding-right: 2em;
    font-family: 'Monoton', cursive; 
    transition: 0.3s;
}

.landingWorld {
    background: linear-gradient(to right, rgb(241, 150, 166), white);
    width: 37em;
    font-size: 1.3em;
    margin-left: 8em;
    transition: 0.3s;
}

.landingPlace {
    background: linear-gradient(to right, rgb(16, 84, 211), white);
    color: white;
    width: 43em;
    font-size: 1.2em;
    margin-left: 11em;
    transition: 0.3s;
}

.landingFunky h1, .landingWorld h1, .landingPlace h1 {
    margin-left: 60px;
}

 .landingImgContainer {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
    height: 35em;
    width: 35em;
    overflow: hidden;
    cursor: pointer;
    left: 60%;
    bottom: 24rem;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    font-family: 'Staatliches', cursive;
}

.landingImgContainer img {
    position: relative;
    left: 50%;
    transition: all 500ms ease-out;
}

.landingImgText {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 93, 0.733); 
    transition: all 500ms ease-out;
    opacity: 0; 
    visibility: hidden;
    text-align: center;
    font-size: 50px;
    font-family: 'Monoton', cursive;
    margin: 0;
}

.landingImgContainer:hover > .landingImgText {
    opacity: 1;
    visibility: visible;
    text-decoration: none;
}

.landingImgContainer:hover > img {
    transform: scale(1.1);
}

.landingImgContainer:hover > .landingImgText h2 {
    margin-top: 1.2em; 
}

.landingImgText h2 {
    color: black;
    font-weight: bolder;
    transition: all 500ms ease-out;
}

/* RESPONSIVE ------------------------------------------------ */
@media screen and (max-width: 1300px) {
    .landingFunky {
        width: 23em;
        font-size: 2em;
        margin-left: 3em;
    }

    .landingWorld {
        width: 37em;
        font-size: 1.1em;
    }

    .landingPlace {
        width: 43em;
        font-size: 1em;
        margin-left: 11em;
    }

    .landingImgContainer {
        height: 32em;
        width: 32em;
        left: 59%;
        bottom: 18rem;
    }
}

@media screen and (max-width: 1260px) {
    .landingFunky {
        width: 25em;
        font-size: 1.8em;
        margin-left: 1.5em;
    }

    .landingWorld {
        width: 42em;
        font-size: 1.1em;
        margin-left: 5em;
    }

    .landingPlace {
        width: 40em;
        margin-left: 9em;
    }

    .landingImgContainer {
        height: 29em;
        width: 29em;
        left: 59%;
        bottom: 17rem;
    }

    .landingImgText {
        font-size: 40px;
    }
}

@media screen and (max-width: 1150px) {
    .landingFunky {
        margin-left: 0.5em;
    }
    
    .landingWorld {
        margin-left: 3em;
        font-size: 1em;
    }

    .landingPlace {
        width: 42em;
        margin-left: 6em;
    }

    .landingImgContainer {
        height: 26em;
        width: 26em;
        left: 59%;
        bottom: 16rem;
    }
}

@media screen and (max-width: 1120px) {
    .landingContainer {
        height: 850px;
    }

    .landingTextContainer {
        text-align: left;  
        top: 3em;
    }

    .landingImgContainer {
        position: relative;
        height: 25em;
        width: 25em;
        top: 10%;
        left: 28%;
    } 

    .landingImgText {
        font-size: 35px;
    }

    .landingFunky h1, .landingWorld h1, .landingPlace h1 {
        margin-left: 0;
        transition: 0.3s;
    }

    .landingFunky {
        width: 80%;
        height: 6em;
        font-size: 1.5em;
        margin: auto;
        text-align: center;
        padding: 0;
        background: linear-gradient( yellow, rgb(255, 255, 212));
    }

    .landingWorld {
        width: 75%;
        font-size: 1.1em;
        margin: auto;
        text-align: center;
        background: linear-gradient(rgb(241, 150, 166),rgb(253, 216, 223));
    }

    .landingPlace {
        width: 70%;
        margin: auto;
        text-align: center;
        background: linear-gradient(rgb(16, 84, 211), rgba(109, 150, 226, 0.699));
    }

}

@media screen and (max-width: 700px) {
    .landingImgContainer {
        left: 20%;
    } 
}

@media screen and (max-width: 600px) {
    .landingImgContainer {
        left: 20%;
        height: 20em;
        width: 20em;
    } 

    .landingFunky h1 {
        font-size: 40px;
    }

    .landingWorld h1 {
        font-size: 30px;
    }

    .landingImgText {
        font-size: 30px;
    }
}

@media screen and (max-width: 460px) {
    .landingContainer {
        height: 95vh;
    }

    .landingImgContainer {
        z-index: 2;
        flex-direction:row-reverse;
        height: 15em;
        width: 15em;
        left: 17%;
        top: 5em;
    }

    .landingTextContainer {
        top: 3em;
    }

    .landingFunky, .landingWorld, .landingPlace {
        margin: auto;
        padding: 0;
    }

    .landingFunky {
        width: 13em;
        height: 4.5em;
    }
    
    .landingFunky h1 {
        font-size: 30px;
        margin-top: 35px;
        margin-left: 10px;
    }

    .landingWorld {
        width: 15em;
        height: 6em;
    }

    .landingWorld h1 {
        font-size: 25px;
        margin: 20px auto;
        text-align: center;
    }

    .landingPlace {
        width: 14em;
    }

    .landingPlace h1 {
        font-size: 30px;
        margin: 20px auto;
        text-align: center;
    }

    .landingImgText {
        font-size: 22px;
    }
}