.cardBody {
    min-height: 100vh;
    width: 100%;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    width: 65%;
    height: 92vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgba(255, 255, 255, 0.466);
    border: 1px solid rgb(207, 207, 207);
}

/* TOP - HALF ------------------------------------------------- */
.cardTopHalf {
    width: 1200em;
    height: 90%;
    margin-top: 2em;
    margin-left: 1.5em;
    color: rgba(9, 47, 117, 0.815);
    background-color: pink;
    /* background-color: rgba(255, 255, 255, 0.815); */
}

.cardTopHalf h2 {
    margin-top: 1.5em;
    margin-left: 2em;
    text-align: left;
}

.cardText {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    height: 80%;
    margin-top: 2em;
    background-color: blue;
}

.cardInformationImage {
    width: 20em;
    background-color: beige;
}

.cardInformationImage img {
    height: 9em;
/*     margin-top: 1em; */
}

.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    width: 30%;
    margin-top: 3em;
    font-size: 15px;
    font-weight:lighter;
    background-color: aqua;
}

.cardLeftInfo h3, .cardRightInfo h3 {
    border-bottom: 1px solid rgba(16, 84, 211, 0.24); 
    color: rgba(9, 47, 117, 0.699);   
}

/* RIGHT --------------------------------------------- */
.cardRigth {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-top: 2em;
    margin-right: 1.5em;
    background-color:  rgba(122, 147, 190, 0.267); 
}

.cardActivities {
    display: flex;
}

.cardActivities h2 {
    text-align: left;
    margin-left: 2em;
    color: rgba(0, 0, 0, 0.733);
}

.cardActivitiesContainer {
    display: flex;
}

.cardNoActivities {
    position: relative;
    width: 30em;
    height: 10em;
    top: 1.5em;
    left: 8em;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.63); 
/*     background-color:  rgba(122, 147, 190, 0.267); */
}

.cardNoActivities h3 {
    margin-top: 2em;
    font-size: 20px;
    color:rgba(5, 45, 114, 0.726);
}

.cardNoActivities Link {
    cursor: pointer;
}

.cardActivitiesText {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 10em;
    left: 3 em;
    top: 1em;
    margin-left: 2em;
    background-color: rgba(255, 255, 255, 0.815); 
/*     background-color:  rgba(122, 147, 190, 0.267); */
    border-radius: 3px;
}

.cardActivitiesText span {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 1em;
    margin-top: 5px;
}

.cardActivitiesText h3 {
    text-align: center;
    font-size: 16px;
    color:rgba(5, 45, 114, 0.726);
    margin-top: 0;
    margin-right: 10px;
}
