
.homeContainer {
    min-height: 100vh;
    width: 100%;
    background-image: url("../../Images/Planisferio.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0.5em;
}

.homeCards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 80%;
    margin-top: 1.5em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
}

.homePagination {
    padding-bottom: 1.5em;
}