.app{
    margin: 0;
    padding: 0
}

card{
    width: 300 px;
    height: 400;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

/* rgb(53, 103, 150) */