@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.filtersContainer {
    width: 100vw;
    background-color: rgba(238, 238, 124, 0.781);
}

.filtersContainer, .filters_selects , .actFilters_order_one, .actFilters_order_two, .actFilters_sort {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: 'Sora', sans-serif;
    font-size: 13px;
    color: rgb(39, 39, 39);
    height: 3.5em;
}

.filters_selects {
    width: 80%;
    margin-right: 8em;
}

.filters_selects select {
        height: 2em;
        width: 150px;
        border-radius: 3px;
        border: none;
        color: rgb(43, 42, 42);
}

.actfilters_modal_button {
    width: 300px;
    height: 100px;
    visibility: hidden;
} 

.actfilters_close_modal_button {
    visibility: hidden;
}

/* RESPONSIVE -------------------------------------------------------------- */
@media screen and (max-width: 1160px) {
    .filtersContainer, .filters_selects {
        height: 6em;
        margin-right: 4em;
    }

    .actFilters_order_one, .actFilters_order_two {
        display: flex;
        flex-direction: column;
    }

    .actFilters_order_one {
        padding-bottom: 0.28em;
    }

    .actFilters_sort {
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 300;
        max-width: 250px;
    }

    .actFilters_order_h3 {
        padding-top: 2em;
        margin: 0em 0;
    }

    .actFilters_alpha_h3 {
        padding-top: 0.1em;
        margin: 0;
    }
}

@media screen and (max-width: 560px) { /* ------------------------------------------- */
    .filtersContainer {
        flex-direction: column;
    }

    .filters_selects {
        visibility: hidden;
    }

    .actfilters_modal_button {
        position: absolute;
        margin-top: 5.5em;
        visibility: visible;
    }
    
    .actfilters_modal_button button, .actfilters_close_modal_button button {
        height: 2em;
        width: 150px;
        border: 1px solid gray;
        border-radius: 5px;
        color: rgba(0, 0, 0, 0.774);
        background-color: rgba(238, 238, 124, 0.781);
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
    }
        
    .actfilters_modal_button button {
        transition: 0.3s;
    }
    
    .actfilters_modal_button button:hover {
        background-color: rgba(255, 255, 62, 0.719);
    }
    
    .filters_selects_modal button {
        margin-top: 3em;
        visibility: visible;
    }

    .filters_selects_modal {
        flex-direction: column;
        position: absolute;
        z-index: 3;
        height: 600px;
        width: 100vw;
        top: 6em;
        padding-top: 1em;
        background-image: linear-gradient(rgba(238, 238, 124, 0.945), rgb(252, 252, 236)); 
        visibility: visible;
    }

    .actFilters_order_one, .actFilters_order_two {
        display: block;
        justify-content: center;
        height: 12em; 
        font-size: 15px;
    }
    
    .actFilters_order_h3, .actFilters_alpha_h3 {
        margin-bottom: 0.5em;
        padding: 0;
        font-size: 20px;
        font-weight: bolder;
    }
    
    .actFilters_sort {
        flex-direction: column;
        margin: auto;
        height: 12em;
    }
    
    .actFilters_sort select{
        display: flex;
        width: 200px;
        height: 2.5em;
        border: none;
        border-radius: 3px;
        color: rgb(43, 42, 42);
    }
    
}