.paginationContainer {
  display: flex;
  width: 60%;
  height: 2em;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.paginationNumber,  .paginationPrev, .paginationNext {
  color: black;
  float: left;
  text-decoration: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  background-color: white;
}

.paginationNumber:hover, .paginationPrev:hover, .paginationNext:hover {
  color: white;
  background-color: rgba(8, 46, 117, 0.733);
}

.paginationPrev, .paginationNext {
  width: 6em;
}



