.cardsContainer {
    background-color: rgba(255, 255, 255, 0.39);
    width: 15em;
    height: 14em;
    margin-top: 20px;
    border: 0.5px solid rgb(202, 201, 201);
}

/* .cardsContainer:hover {
} */

.cardsContainer:hover {
    background-color: rgba(255, 255, 255, 0.74); 
    border: 0.5px solid rgb(0, 68, 255);
}

.cardsImage {
    height: 45%;
    margin-top: 1.9em;
    margin-bottom: 0.5em;
    transition: all 500ms ease-out;
}

.cardsImage:hover {
    max-width: fit-content;
    transform: scale(1.1);
}

.cardsText {
    display: flex;
    flex-direction: column-reverse;
    justify-content: baseline;
    margin-top: 2.5em;
    background-color: rgba(8, 46, 117, 0.733);
}

.cardsContinent {
    background-color: rgba(8, 46, 117, 0.733);
    font-size: 15px;
    font-weight: lighter;
}

.cardsText h3 {
    margin: 0;
    text-decoration: none;
    color: white;
}