@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.activities_container {
    width: 100vw;
    height: 80vh;
    margin: 0;
}

.activities_no_act {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 10em;
    width: 35em;
    font-size: 20px;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.39);
    color: rgb(83, 83, 83);
}

.activities_no_act_h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
    width: 34em;
    background-color: rgba(255, 255, 255, 0.911); 
}

.activities_shortCard_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80vw;
    height: 40vh;
    gap: 10px;
    margin: 1.5em auto;
    padding: 2rem 0rem;
    font-family: 'Sora', sans-serif;
    transition: 0.3s ease-in-out;
} 

.activities_shortCardContainer {
    background-color:rgba(255, 255, 255, 0.39);
    width: 250px;
    height: 280px;
    border: 1px solid rgba(128, 128, 128, 0.281);
    border-radius: 5px;
    margin: auto;
}

.activities_shortCard {
    margin: 1rem;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.74); 
} 

.activities_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(8, 46, 117, 0.733);
    color: white;
    height: 2.5em;
    margin-bottom: 1.5em;
}

.activities_title span {
    position: relative;
    left: 10px;
    margin: auto 0;
    font-weight: 500;
}

.activities_shortCard h3, .activities_shortCard p {
    margin: 0;
}

.activities_shortCard p {
    text-align: left;
    max-width: 100px;
}

.activities_shortCard h3 {
    width: 100px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    margin-left: 14px;
    color: rgba(0, 0, 0, 0.767);
}

.activities_text {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    font-size: 14px;
    color: gray
}

.activities_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    gap: 1em;
}

.activities_buttons button {
    font-size: 20px;
    color: grey;
    background-color: rgba(255, 255, 255, 0.432); 
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.activities_delete_icon:hover {
    color: red;
}

.activities_edit_icon:hover {
    color: rgb(0, 170, 0);
}

/* RESPONSIVE ----------------------------------------------------------- */

@media screen and (max-width: 1300px) {/*  ------------------------------- */
    .activities_shortCard_container {
        grid-template-columns: repeat(4, 1fr);
        width: 90vw;
    }
}

@media screen and (max-width: 1100px) {/*  -------------------------------- */
    .activities_shortCard_container {
        grid-template-columns: repeat(3, 1fr);
        width: 90vw;
    }
}

@media screen and (max-width: 860px) {/* ---------------------------------- */
    .activities_shortCard_container {
        grid-template-columns: repeat(2, 1fr);
        width: 90vw;
        margin: 1em auto;
        padding: 1em 0em;
    }

    .activities_no_act {
        width: 25em;
        margin-top: 1em;
    }

    .activities_no_act_h3 {
        width: 23em;
    }
} 

@media screen and (max-width: 600px) {/* ------------------------------------ */
    .activities_shortCard_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 1em;
        margin: 10em auto
    }

    .activities_no_act {
        width: 15em;
        height: 15em;
        margin-bottom: 12em;
    }

    .activities_no_act_h3 {
        height: 13em;
        width: 13em;
        background-color: rgba(255, 255, 255, 0.911); 
    }

    .activities_shortCardContainer {
        height: 300px;
        margin-left: 0;
        margin-right: 0;
    }

    .activities_shortCard {
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 90%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.815);
    }
    
    .activities_buttons {
        margin-top: 3em;
    }
}



