@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.navbar {
    width: 100vw;
    background-color: #121619e8;
  }
  
  /* NAVBAR -------------------------------------- */
  .navigation, .modal_navigation {
    height: 70px;
    display: flex;
    flex-direction: row;
  }

  .navbarText, .modalText {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2em;
    color: white;
    font-size: 2.5em;
  }

  .navbarText h2, .modalText h2 {
    font-family: 'Monoton', cursive; 
    font-size: 0.8em;
  }

  .navbarIcon, .modalIcon {
    margin-right: 0.5em;
  }
  
  .navbar .rightSide, .modal_rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    height: 100%;
  }
  
  .navBar_link {
    position: relative;
    color: rgba(245, 245, 245, 0.863);
    text-decoration: none;
    margin: 20px;
    font-family: 'Sora', sans-serif;
  }

 .navBar_link:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.navBar_link:hover::after {
  width: 100%;
}

.navBar_link:hover {
  color: white;
  transition: 0.3s;
}

/* MODAL NAVBAR ------------------------------------------------- */
.modal_navigation {
  display: none;
}

.modalIcon_menu {
  margin: auto;
  padding: 15px;
  color: white;
  cursor: pointer;
}

.modalIcon_menu_icon {
  font-size: 40px;
}

  /* RESPONSIVE -------------------------------------------------- */

  @media only screen and (max-width: 1140px) {
    .navbarText {
      flex: 30%;
    }
  }

  @media only screen and (max-width: 950px) {
    .modal_rightSide_container {
      position: absolute;
      z-index: 3;
      top: 70px;
      height: 45vh;
      padding-bottom: 110%;
      width: 100vw; 
      background-color: #121619e8;
    }
    
    .modal_rightSide {
      display: flex;
      flex-direction: column;
      font-size: 22px;
      font-weight: 550;
    }

    .navigation {
      display: none;
    }

    .modalText {
      display: flex;
    } 

    .modalIcon_menu {
      margin-right: 3em;
    }

    .modal_navigation {
      display: flex;
    }
    
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 10px;
    }
  }

  @media only screen and (max-width: 550px) {
    .modalText {
      margin-left: 1em;
    }
    
    .modalText h2 {
      font-size: 28px;
    }

    .modalIcon_menu {
      margin-right: 1em;
    }
  }

/* MOBIL ----------------------------------------------------- */
  @media screen and (max-width: 420px) {
    .modalText {
      margin-left: 1em;
    }

    .modal_rightSide_container {
      position: absolute;
      z-index: 3;
      top: 70px;
      height: 45vh;
      padding-bottom: 110%;
      width: 100vw; 
      background-color: #121619e8;
    }
    
    .modal_rightSide {
      display: flex;
      flex-direction: column;
      font-size: 22px;
      font-weight: 550;
    }

    .modalText h2 {
      font-size: 20px;
    }

    .modalIcon {
      margin-right: 0.3em;
      font-size: 45px; 
    }
  }




