@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.navbar {
    width: 99vw;
    height: 70px;
    background-color: #121619e8;
    display: flex;
    flex-direction: row;
  }
  
  .navbarText {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2em;
    color: white;
    font-size: 2.5em;
  }

  .navbarText h2 {
    font-family: 'Monoton', cursive; 
    font-size: 0.8em;
  }

  .navbarIcon {
    margin-right: 0.5em;
  }
  
  .navbar .rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    height: 100%;
  }
  
  .navBar_link {
    position: relative;
    color: rgba(245, 245, 245, 0.863);
    text-decoration: none;
    margin: 20px;
    font-family: 'Sora', sans-serif;
  }

 .navBar_link:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.navBar_link:hover::after {
  width: 100%;
}

.navBar_link:hover {
  color: white;
  transition: 0.3s;
}


  /* RESPONSIVE -------------------------------------------------- */

  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }

/* RESPONSIVE ----------------------------------------------- */
/* AVERIGUAR CÓMO SE HACE UN MENÚ HAMBURGUESA --------------- */
  @media screen and (max-width: 860px) {}




